
<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="https://www.shutterstock.com/blog/wp-content/uploads/sites/5/2018/12/212.jpg" class="card-img" alt="...">
    </div>

    <div class="col-md-8 mt-10">
      <div class="card-body">
        <h5 class="card-title"><%= @cocktail.name %></h5>
        <!-- <p class="card-text"><%= @cocktail.doses.description %></p> -->
      </div>
    </div>
  </div>
</div>

<h1>
<%= link_to 'ðŸ ', cocktails_path %>
</h1>
